#quick { 
	margin: 10px 0; 
}
.quickLink {
    width: 100px;
    height: 100px;
    float: left;
    margin: 6px;
    text-align: center;
    border: 1px solid #ddd;
    background: transparent url(../images/bgQuickLink.gif) repeat-x 0 0;
}
.quickLink img {
    width: 48px;
    height: 48px;
    margin: 13px 0;
}
.quickLink span {
    width: 100px;
    display: block;
    clear: both;
    margin: 0px 0;
	font-weight:bold;
}
.quickLink:hover { border-color: #aaa; }