.class-projected,.class-confirmed,.class-absent,.class-attended,.class-cancelled {
	text-align:center;
	font-weight:bold;
}
.madsheet {
	border-collapse:collapse;
}
.madsheet td, .madsheet th {
	border: 1px solid #000;
}

.madsheet .odd td {
	border-top:2px solid #777;
}

.class-projected {
	background-color:#fff;
}
.class-confirmed {
	background-color:#c6e0ff;
}
.class-absent {
	background-color:#ff6f71;
}
.class-attended {
	background-color:#b7ffaa;
}
.class-cancelled {
	background-color:#000;
}
.teacher {
	margin:0;
	padding:0;
	border-collapse:collapse;
	width:100%;
}
.teacher td {
	border:0 !important;
}
.class-info {
	display:none;
	position:absolute;
	background-color:#ccc;
	border:1px solid #666;
	text-align:left;
	font-size:14px;
	font-weight:normal;
}
.class-info ul {
	list-style:none;
}