.form-area label {
	width:100px;
	display:block;
	float:left;
	text-align:right;
	padding-right:5px;
}
.form-area input, .form-area select, .form-area textarea {
	float:left;
}
.form-area p.info {
	float:left;
}

/*Lists*/
ul.horizontal, ul.vertical {
	list-style:none;
	margin:0;
	padding:0;
}
ul.horizontal li {
	float:left;
	padding:0;
}

/*Messages*/
#warning-message,.warning {
	color:orange;
	font-weight:bold;
}
#error-message,.error, .error-message {
	color:red;
	font-weight:bold;
}
#success-message,.success, .success-message {
	color:#b6ffaf;
	font-weight:bold;
}
	
#warning-message,.warning, #success-message,.success,#error-message,.error {
	padding-left:18px;
	background-repeat:no-repeat;
	background-position:top left;
}


/*Icons*/
.icon,.page-next,.page-back,.page-first,.page-last,.page-previous {
	font-size:0px;
	padding:10px 8px;
	background-repeat:no-repeat;
	background-position:top left;
}
.list-with-icon li,.list-with-icon dt, .with-icon {
	padding:2px 0 2px 18px;
	background-repeat:no-repeat;
	background-position:top left;
}
.menu-with-icon li a {
	padding-left:12px;
	background-repeat:no-repeat;
	background-position:top left;
}
.no-icon {
	background-image:none !important;
}

/* Specific stuff */
.info-box {
	display:none;
	position:absolute;
	background-color:#ccc;
	border:1px solid #666;
	text-align:left;
	font-size:14px;
	font-weight:normal;
}
.info-box ul {
	list-style:none;
}
div.info-box li {
	line-height:1em !important;
}

#steps-list {
	margin-left:20px;
}
#steps-list li {
	font-size:200%;
	line-height:2em;
}

#train-nav ul {
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
}
#train-nav li {
	width:33%;
	float:left;
	font-weight:bold;
}
#train-top {
	text-align:center;
}
#train-next {
	text-align:right;
}