.form-area label {
	width:100px;
	display:block;
	float:left;
	text-align:right;
	padding-right:5px;
}
.form-area input, .form-area select, .form-area textarea {
	float:left;
}
.form-area p.info {
	float:left;
}

/*Lists*/
ul.horizontal, ul.vertical {
	list-style:none;
	margin:0;
	padding:0;
}
ul.horizontal li {
	float:left;
	padding:0;
}

#loading {
	position:fixed;
	background-color:#f00;
	top:0;
	left:0;
	color:#fff;
	padding:2px 2px 2px 2px;
	display:none;
	z-index:9;
	opacity:.6;
	filter: alpha(opacity=60);
}


/*Messages*/
#warning-message,.warning {
	color:orange;
	font-weight:bold;
}
#error-message,.error, .error-message {
	color:red;
	font-weight:bold;
}
#success-message,.success, .success-message {
	color:#b6ffaf;
	font-weight:bold;
}
	
#warning-message,.warning, #success-message,.success,#error-message,.error {
	padding-left:18px;
	background-repeat:no-repeat;
	background-position:top left;
}


/*Icons*/
.icon,.page-next,.page-back,.page-first,.page-last,.page-previous {
	font-size:0px;
	padding:10px 8px;
	background-repeat:no-repeat;
	background-position:top left;
}
.list-with-icon li,.list-with-icon dt, .with-icon {
	padding:2px 0 2px 18px;
	background-repeat:no-repeat;
	background-position:top left;
}
.menu-with-icon li a {
	padding-left:12px;
	background-repeat:no-repeat;
	background-position:top left;
}
.no-icon {
	background-image:none !important;
}

/* Specific stuff */
.info-box {
	display:none;
	position:absolute;
	background-color:#ccc;
	border:1px solid #666;
	text-align:left;
	font-size:14px;
	font-weight:normal;
}
.info-box ul {
	list-style:none;
}
div.info-box li {
	line-height:1em !important;
}

#steps-list {
	margin-left:20px;
}
#steps-list li {
	font-size:200%;
	line-height:2em;
}

#train-nav ul {
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
}
#train-nav li {
	width:33%;
	float:left;
	font-weight:bold;
}
#train-top {
	text-align:center;
}
#train-next {
	text-align:right;
}

.cancel-button {
	line-height:30px;
	font-weight:bold;
}


/****************** Tabby ************/
.tabs {
	width:100%;
	margin:0;
	padding:0;
	border-bottom:1px solid #000;
	height:19px;
}
.tabs li {
	margin:auto 0 0 5px;
	border:1px solid #000;
	list-style: none;
	float:left;
}
.tabs li.tab-selected {
	border-bottom:1px solid #E2E4E3;
}

.tabs li a {
	padding:5px 5px 0 5px;
	border-bottom:none;
}
.tabs li.here {
	border-bottom: 1px solid #ffc;
	list-style: none;
	display: inline;
}


a#fdbk_tab {
    background-image: url("https://d1xklv3tn7qmp2.cloudfront.net/_cb/8e27877/assets/feedback_trans_tab.png");
    color: white;
    cursor: pointer;
    height: 102px;
    left: 0;
    margin-left: -7px;
    overflow: hidden;
    position: fixed;
    text-indent: -100000px;
    top: 75%;
    width: 42px;
    z-index: 100000;
}
a.fdbk_tab_bottom {
    background-position: 0 -102px !important;
    bottom: 0 !important;
    height: 38px !important;
    left: 20% !important;
    margin-bottom: -7px !important;
    margin-left: auto !important;
    top: auto !important;
    width: 102px !important;
}

.checkbox-listing {
	width: 300px;
}

table tr.odd-row {
	background-color: #fff;
}

input.button {
	padding:5px 34px 5px 25px;
}