
#validation{
 	width: 800px;
	height:300px;
	border:#000000;
	border:.002em solid;
}
#question{
width:800px;
height:150px;
border:#000000;
border-bottom:1px solid;	
}
#option{
width:800px;
height:120px;
border:#000000;
/*border-bottom:1px solid;*/	
}#check{
margin-left:200p;
position:absolute;
}