@charset "utf-8";
/* CSS Document */

a {outline:none;}

body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	overflow:scroll;
	}

#container {
	width:960px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	}
	
#wraper {
	width:960px;
	height:auto;
	float:left;
	}
	
#logo {
	width:400px;
	text-align:center;
	margin-bottom:10px;
	float:left;
	margin-left:280px;
	}
	
#logo a img {
	border:none;
	outline:none;
	height:auto;
	}
	
#main-content {
	width:960px;
	height:auto;
	float:left;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
	}

#title {
	width:960px;
	height:40px;
	float:left;
	background:url(../images/bgSidebox.gif) repeat-x;
	line-height:40px;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
	text-shadow:0px 0px 3px #000;
	}
	
#content {
	width:958px;
	height:auto;
	float:left;
	background-color:#f0f0f0;
	border:1px solid #D6D6D6;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	padding-bottom:30px;
	z-index:-1;
	text-shadow:1px 1px #fff;
	padding-top:10px;
	margin-bottom:20px;
	}
	
.clear {
	width:100%;
	clear:both;
	}
	
.content-row {
	width:460px;
	float:left;
	margin-top:10px;
	}
	
.content-row img {
	float:left;
	margin-top:4px;
	}

.content-row span {
	width:140px;
	float:left;
	text-align:right;
	font-size:15px;
	color:#333;
	line-height:25px;
	margin-right:7px;
	}

.content-row .textfield {
	width:300px;
	padding:3px;
	font-size:15px;
	border:1px solid #C7C7C7;
	float:left;
	}

.content-row .button {
	padding:5px;
	border:none;
	color:#FFF;
	font-weight:bold;
	width:120px;
	height:30px;
	background:url(../images/login-button.png) no-repeat;
	cursor:pointer;
	}

.content-row .dropdown {
	width:auto;
	padding:3px;
	font-size:15px;
	border:1px solid #C7C7C7;
	float:left;
	margin-right:20px;
	}

.content-row-reg .reg-button {
	text-align:center;
	padding:7px 10px;
	background-color:#999;
	background-image: url(../images/li-main.gif);
    color: #FFF;
    border: 1px solid #7c7c7c;
	cursor:pointer;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	float:left;
	margin-left:8px;
	font-weight:bold;
	}
	
.content-row-reg {
	width:320px;
	float:left;
	margin-top:10px;
	margin-left:140px;
	}

.content-row .textarea {
	width:300px;
	padding:3px;
	font-size:15px;
	border:1px solid #C7C7C7;
	float:left;
	}

.content-row .radio-button {
	width:auto;
	padding:3px;
	float:left;
	margin-top:10px;
	}	
	
.content-row-large {
	width:920px;
	float:left;
	margin-top:10px;
	}
	
.content-row-large img {
	float:left;
	}

.content-row-large span {
	width:140px;
	float:left;
	text-align:right;
	font-size:15px;
	color:#333;
	line-height:25px;
	margin-right:7px;
	}

.content-row-large .textfield {
	width:300px;
	padding:3px;
	font-size:15px;
	border:1px solid #C7C7C7;
	float:left;
	}

.content-row-large .textarea {
	width:300px;
	padding:3px;
	font-size:15px;
	border:1px solid #C7C7C7;
	float:left;
	}

.content-row-large .dropdown {
	width:auto;
	padding:3px;
	font-size:15px;
	border:1px solid #C7C7C7;
	float:left;
	margin-right:20px;
	}

.content-row-large .radio-button {
	width:auto;
	padding:3px;
	float:left;
	margin-top:5px;
	}
	
#floting-div {
	position:absolute;
	width:380px;
	height:400px;
	right:40px !important;
	z-index:999999;
	top: 240px !important;
	background-color:;
	line-height:25px;
	font-size:14px;
	}
