@charset "utf-8";
/* CSS Document */

a {outline:none;}

body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	overflow:scroll;
	background:#666 url(../../../images/madapp/background.png);
	}

#container {
	width:960px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	}
	
#wraper {
	width:960px;
	height:auto;
	float:left;
	}
	
#logo {
	width:400px;
	text-align:center;
	margin-bottom:10px;
	float:left;
	margin-left:280px;
	}
	
#logo a img {
	border:none;
	outline:none;
	height:auto;
	}
	
#main-content {
	width:900px;
	height:800px;
	float:left;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
	}

#title {
	height:40px;
	line-height:40px;
	font-size:16px;
	font-weight:bold;
	color:#e4003d;
	text-align:center;
	border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
	text-shadow:0px 0px 3px #aaa;
	margin-bottom:20px;
	}
	
#content {
	width:500px;
	height:760px;
	background-color:#f0f0f0;
	border:1px solid #D6D6D6;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	padding-bottom:30px;
	z-index:-1;
	text-shadow:1px 1px #fff;
	padding-top:10px;
	margin:0 auto;
	}
	
.clear {
	width:100%;
	clear:both;
	}
	
.content-row-large {
	width:480px;
	float:left;
	margin-top:10px;
	}
	
.content-row-large img {
	float:left;
	margin-top:4px;
	}

.content-row-large span {
	width:140px;
	float:left;
	font-family:Impact;
	text-align:right;
	font-size:15px;
	color:#333;
	line-height:25px;
	margin-right:7px;
	}

.content-row-large .textfield, .content-row-large .textarea {
	width:300px;
	padding:3px;
	font-size:15px;
	background:#e5e5e5;
	border:1px solid #e5e5e5;
	float:left;
	}

.content-row-large .button {
	padding:5px;
	border:none;
	color:#FFF;
	font-weight:bold;
	width:120px;
	height:30px;
	cursor:pointer;
	}

.content-row-large .dropdown {
	width:auto;
	padding:3px;
	font-size:15px;
	border:1px solid #e5e5e5;
	background:#e5e5e5;
	float:left;
	margin-right:20px;
	}

.content-row-reg .reg-button {
	text-align:center;
	padding:3px 10px;
	background-color:#fff;
   	color: #e4003d;
	border: 1px solid #e4003d;
	cursor:pointer;
	margin-top:30px;
	margin-left:150px;
	font-weight:bold;
	}
	

	
#floting-div {
	position:absolute;
	width:380px;
	height:400px;
	right:40px !important;
	z-index:999999;
	top: 240px !important;
	background-color:;
	line-height:25px;
	font-size:14px;
	}

